#logo_brand{
  width: 30px;
  height: 30px;
}

.navbar-custom {
  background-color: black;
}

/* Modify brand and text color */

.navbar-custom .navbar-brand,.navbar-custom .navbar-text{
  color: white;
  text-shadow: 2px 1px 20px #000000;
}

.nav-link{
  color: white;
}
/* Set the border color */

.custom-toggler .navbar-toggler {
  border-color: #ebcfab;
}
/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247, 187, 109, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
p{
  text-align: justify;
}
